.Titre_h1 {
    color:#000;
    font-family: "Montserrat", sans-serif;
    font-size:30px;
    font-weight: 800;
    text-align: center;
    font-style: normal;
    margin-right:20px;
}

.bloc_filter {
    display:flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 395px) {
    .Titre_h1 {
        color:#000;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        text-align:left;
        padding:0 0 0 30px;
        width:200px;
    }
    .Slogan {
        display: none;
    }
}