
.card_Container{
    display:flex !important;
    margin:0 10px 0 10px;
    flex-wrap:wrap;
    justify-content: center;
}

    .global_Card {
        width:250px;
        padding:10px;
        display: flex;
        justify-content: flex-end;
        
    }

        .card_image {
            width:100%;
            border-radius:13px;
        }

        .like-button {
            border:none;
            background-color:transparent;
            color:#fff;
            z-index:3;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            position: absolute;
            margin-top:15px;
            margin-right:10px;

        }
        .btn_cliked {
            background-color: red;
        }


@media only screen and (max-width: 395px) {

    .card_Container{
        display:flex !important;
        margin:0 10px 0 10px;
        flex-wrap:wrap;
    }
    .global_Card {
        width:100%;
        padding:10px 20px 10px 20px;
    }
    .card_image {
        width:100%;
        border-radius:13px;
    }
}
